doctype html
html
  head
    meta(charset='UTF-8')
    title My neck of the woods
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Nunito&display=swap")
    style(type="text/css").
      body {
        margin: 0;
        padding: 0;
        font-family: 'Nunito', sans-serif;
      }
      div.big {
        display: flex;
        background-color: #1a202c;
        padding-top: 0;
        align-items: center;
        position: relative;
        padding-bottom: 1rem;
        min-height: 100vh;
        justify-content: center;
        margin: 0;
      }
      header {
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 72rem;
      }
      div.small {
        position: fixed;
        top: 0;
        right: 0;
        padding: 1rem 1.5rem 1rem 1.5rem;
        font-size: .875rem;
      }
      h1 {
        color: #edf2f7;
        margin-bottom: 0;
        font-size: 3rem;
      }
      p {
        color: #718096;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 1.17em;
      }
      a {
        text-decoration: underline;
        color: #4a5568;
        margin-left: 1rem;
        cursor: pointer;
      }
      span {
        margin-left: 1rem;
        color: #4a5568;
      }
  body
    div.big
      header
        h1 Backend for u11 Fullstack JS
        p School Assignment @ Chas Academy | class FWD20
        p Karin Stenwall | 2021
      div.small
        a(href="#") frontend
        |
        span |
        |
        a(href="https://github.com/chas-academy/u11-fullstack-js-stenwall") repo@GitHub
