@import '../variables/colors';

.feed-wrapper {
  margin: 0 auto;
  max-width: 550px;
  background-color: mix(black, $background-default, 10%);

  .MuiList-root {
    padding: 0;
  }

  .MuiFab-root {
    position: fixed;
    bottom: 5rem;
    right: 1.5rem;
    box-shadow: none;
  }
}
