@import '../variables/colors';

.MuiAppBar-root {
  box-shadow: none;
  background-image: none;

  .MuiButton-root {
    text-transform: none;
    justify-content: flex-start;
    color: $text-primary;
    border-radius: 0;

    &:hover {
      background-color: transparent;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 0.5rem;
    }
  }

  .MuiIconButton-root {
    color: $text-primary;
  }
}
