// colortheme variables

$primary-main: #607a8d;
$primary-light: #7F94A3;
$primary-dark: #273e4f;
$primary-contrast-text: #e4e3dd;

$secondary-main: #ec8f00;
$secondary-light: #efa533;
$secondary-dark: #a56400;
$secondary-contrast-text: #0e1e29;

$background-default: #112531;
$background-paper: #16313f;

$text-primary: #e4e3dd;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-disabled: rgba(255, 255, 255, 0.5);

$error-main: #c54419;
$error-light: #D06947;
$error-dark: #892F11;

$warning-main: #ff9800;
$warning-light: #ffb74d;
$warning-dark: #f57c00;

$info-main: #87bbb3;
$info-light: #9FC8C2;
$info-light: #5E827D;

$success-main: #2fb373;
$success-light: #58C28F;
$success-dark: #207D50;

$divider: $primary-dark;
